[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
superwires = "*"

[packages]
pygame = "*"
superwires = "*"
black = "==20.8b1"

[requires]
python_version = "3.7"
